.home-page {
  min-height: 100vh;
  background-image: url('/images/main.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-top: 8rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); 
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 8rem;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  button {
    margin-top: 2.5rem;
    margin: 10px 10px;
    background: white;
    color: black;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #1a5e21;
    }
  }

